{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{% static 'bioviz_connect/js/cyverselogin.js' %}"></script>
</head>
<body>

</body>
</html>
