<!-- Manage Link -->
<div id="makePublic">
    <button type="button" class="close" aria-label="Close" onclick="closerp()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="container">
        <h5 class="navbar-brand">Manage Link <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Links let you view your file in IGB. Anyone with this link can download or view your file."></i></h5>
    </div>
    <div>
        <div class="list-group-item"><p class="w-100 pathLink"></p>
            <div>
              <p><span>is currently <b><span class="fileStatus">private</span></b>.</span>
                </p>
                <button class="btn btn-danger w-100 d-none" onclick="manageLinkOperations('remove', false)" id="remove">Remove Link</button>
                <button class="btn btn-primary w-100" onclick="manageLinkOperations('create', false)" id="create">Create Public Link</button>
            </div>
             </br>
            <p class="create text-left d-none"><strong>Note:</strong> If you create a public link, anyone can use it to download or view your file in IGB. You can always remove it later.</p>
            <p class="remove text-left d-none"><strong>Note:</strong> If you remove the link, no-one can use it to download or view your file in IGB. You can always re-create it later.</p>
            <div class="toast publicCreate ml-5 hide" role="alert" data-autohide="true" data-delay="2000" style="position:absolute;right:0px;">
                <div class="toast-header bg-warning text-white">
                    <strong class="mr-auto">Public Link Created!</strong>
                </div>
            </div>
            <div class="toast publicRemoved ml-5 hide" role="alert" data-autohide="true" data-delay="2000" style="position:absolute;right:0px;">
                <div class="toast-header bg-info text-white">
             	    <strong class="mr-auto">Public Link Removed!</strong>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <p>Public Link:</p>
            <div class="input-group">
                <p type="text" class="text-secondary" id="plink">
                <span class="d-none" id="plinkToggle">
                    <a></a>
                    <button class="btn btn-primary-outline far fa-copy" id="copy" onclick="copyLink()"></button>
                </span>
                </p>
                <div class="toast copiedToast position-absolute hide" style="right:0px" role="alert" data-autohide="true" data-delay="500" >
                    <div class="toast-header">
                        <i class=" far fa-copy fa-bounce fa-lg  mr-2"></i>
                        <strong class="mr-auto ">Copied!</strong>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
